<!-- <nav>
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Angular_full_color_logo.svg/2048px-Angular_full_color_logo.svg.png" alt="">
    <ul>
        <li><a routerLink="">Home</a></li>
        <li><a routerLink="login-form">Login form</a></li>
        <li><a routerLink="sign-up">SignUp</a></li>
        <li><a routerLink="about-us">About Us</a></li>
        <li><a routerLink="privacy">Privacy</a></li>
    </ul>

</nav>
<a class="anchor" routerLink="login-form/1">Login 1</a>
<a class="anchor" routerLink="login-form/2">Login 2</a>
<a class="anchor" routerLink="login-form/3">Login 3</a>
<a class="anchor" routerLink="login-form/4">Login 4</a>
<a class="anchor" routerLink="login-form/5">Login 5</a>
<router-outlet></router-outlet>

<style>

    anchor {
        font-size: 30px;
        font-weight: bold;
        padding: 30px;
        color: rgb(255, 0, 93);
    }
    nav img{
        width: 80px;
    }
    nav {
        background: aqua;
        padding: 25px;
    }

    ul {
        list-style-type: none;
        color: rgb(247, 250, 199);
        

    }

    li{
        display: inline;
        margin: 15px;
    }

    a {
        text-decoration: none;
        margin: 10px;
    }
</style> -->


<!--
    header
-->

<app-navbar></app-navbar>
<!-- <app-login-form></app-login-form> -->

<!-- <app-section [value]="data"></app-section>
<button (click)="update()"> Update child component </button>

<app-child (updatePatrentEvent)="updateParent($event)"></app-child>
<h1>{{InputValue}}</h1>
<app-privacy></app-privacy> -->

<app-sign-up></app-sign-up>